@charset utf-8;

* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; display: block;}

/* write */
body {
    width: 100%;
    background: rgba(1,1,1,.8);
    font-family: 'Noto Sans KR', sans-serif;
}
#write {
    position: relative;
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 5%;
    background: url(../img/write-bg.jpg)no-repeat center/cover;
}
.write-info {
    width: 80%;
    margin: 0 auto;
}
.write-area {
    width: 80%;
    margin: 0 auto;
}
.wr-img {
    width: 80%;
    overflow: hidden;
    margin: 20px auto 0 auto;
}
.wr-img img {
    width: 100%;
}
.wr-text span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.wr-text p {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
}
.wr-text i {
    width: 72px; height: 30px;
    display: block;
    font-size: 13px;
    font-style: normal;
    border: 1px solid #a8a8a8;
    line-height: 30px;
    text-align: center;
    color: #2d2d2d;
    margin: 10px auto 0 auto;
}
.wr-text a {
    width: 80%; height: 60px;
    color: #fff;
    background: #ff4f6c;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
}
.area-container {
    width: 100%;
    margin-bottom: 27px;
}
.area-container h5 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 500;
    margin-bottom: 10px;
}
.area-container p {
    font-size: 13px;
    color: #2d2d2d;
    line-height: 20px;
}
.area-container p::before {
    content: "·";
    margin-right: 5px;
}



.closed {
    position: absolute; top: 15px; right: 15px;
    cursor: pointer;
}



/* edit */
.edit-img {
    width: 268px; height: 318px;
    overflow: hidden;
    background: #eee;
}
.edit-img input {
    display: block;
    width: 80px;
    margin: 140px auto 0 auto;
}
.wr-text input[type="text"] {
    width: 214px; height: 22px;
    margin: 5px 0;
    text-align: center;
}
.wr-text input:first-child {
    margin-top: 10px;
}
#write button {
    width: 45px;
    margin-left: 5px;
}
.write-area input[type="text"] {
    width: 425px; height: 22px;
    margin: 5px 0;
    text-align: center;
}