
    /* reset */
    :root {
        --font-primary:none;
    }
    .nav-cat h4 {
        color: #fff;
        font-weight: 600;
        line-height: 49px;
    }
    .cat-btn {margin: 16px 0 0 12px;}
    .cd-timeline * {
        font-family: 'Noto Sans KR', sans-serif;
    }
    #history-main {
        width: 100%; height: 332px;
        margin-top: 136px;
        background: url(../../img/bp-main8.jpg) no-repeat center/cover;
    }
    .edu b {font-weight: 600;}

    #sub-history h4 {
        font-style: normal;
        font-weight: 700;
        text-align: center;
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 60px;
        color: #404040;
    }
    #sub-history p {
        text-align: center;
        margin-bottom: 40px;
        font-size: 16px;
        color: #404040;
    }
    .timeline-title ul {width: 100%;}
    .timeline-title li {
        width: 33.3%;
        float: left;
    }
    .timeline-title li a {
        width: 100%; height: 55px;
        font-size: 15px;
        color: #ff4f6c;
        font-weight: 600;
        border: 1px solid #cfcfcf;
        line-height: 55px;
        text-align: center;
    }
    .timeline-title li:nth-child(1) a,
    .timeline-title li:nth-child(2) a {
        border-right: none;
    }
    .timeline-title li a:hover,
    .timeline-title li a:active,
    .timeline-title li a:focus {
        background: #f8f8f8;
    }


    /* asset */
    .cd-timeline {
        background: none;
        padding: 20px 0 0 0;
    }
    #timeline1 .history-text {display: block;}
    .history-box .history-text {display: none;}
    .history-box.on .history-text {display: block;}

    .title-circle {
        width: 48px; height: 48px;
        border-radius: 24px;
        background: #ff4f6c;
        margin-bottom: 30px;
        z-index: 100;
    }
    .title-circle i {
        display: block;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        line-height: 48px;
        text-align: center;
    }
    .cd-timeline__container::before {
        top: 24px; left: 24px;
        width: 1px;
        background: #cfcfcf;
        z-index: -1;
    }
    .cd-timeline__content {
        box-shadow: none;
        padding: 0 10px 20px 10px;
    }
    .cd-timeline__img {
        width: 10px; height: 10px;
        margin-left: 20px;
        background: #fff;
        box-shadow: 0 0 0 3px #cfcfcf;
    }
    .color-contrast-medium {
        color: #333;
    }
    .text-component img {
        margin-top: 10px;
    }
    .history-box.on .history-btn p {border-bottom: 1px solid #cfcfcf;}
    .history-btn .container {
        position: relative;
        cursor: pointer;
    }
    #timeline3 .history-btn p {
        border-bottom: 1px solid #cfcfcf;
    }
    .history-btn p {
        width: 100%; height: 50px;
        font-size: 20px;
        font-weight: 600;
        color: #3d3d3d;
        text-align: center;
        line-height: 50px;
        border-top: 1px solid #cfcfcf;
    }
    .history-btn img {
        position: absolute; top: 20px; right: 20px;
        width: 20px;
    }
    .cd-timeline__block {margin-bottom: 0;}
    .cd-timeline__block:last-child {background: #fff; padding-bottom: 25px;}
    .cd-timeline__container {
        padding: 0;
    }
    #timeline3 {margin-bottom: 80px;}
    .history-box.on .history-btn img {
        transform: rotate(180deg);
    }
